footer{
    background: #100C0C;
    min-height: 70px;
}

footer p{
    color: #f3f3f3;
    text-align: center;
}

/*Media cueri*/

@media (max-width: 769px){
    #Intro, #equipo
    {
    width: 90% !important;
    }
    .fila{
        width: 100% !important;
        text-align: center;
    }
}

#img-equipo{
    max-height: 30rem !important;
    width: 60%;
}

@media (max-width: 576px){
    #Intro
    .wrap{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }
}

  body {
    color: white;
  }

  .text-blanco {
    color: white;
  }

  @media (max-width: 767px) {
    body {
        width: 100%; /* Ancho completo */
        height: auto; /* Altura automática */
    }
}

/* Estilos para ordenadores */
@media (min-width: 768px) {
    body {
        width: 1080px; /* Ancho fijo para ordenadores */
        height: 2340px; /* Altura fija para ordenadores */
        margin: 0 auto; /* Centra el contenido en la ventana del navegador */
    }
}

  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card .description {
    padding: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea una cuadrícula de 4 columnas */
  gap: 20px; /* Espacio entre las tarjetas */
}


/* Estilos específicos para las tarjetas, como dimensiones, etc. */
.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
}
.video {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
}
